# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Test
      run: |
        pip install --upgrade pip
        pip install wheel setuptools
        pip install -e . -r requirements.txt
        pip install -r requirements-dev.txt
        coverage run setup.py test
        coverage json
    - name: Upload coverage artifact
      uses: actions/upload-artifact@v2
      with:
        name: coverage_artifact
        path: coverage.json

  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Lint
        run: |
          pip install --upgrade pip
          pip install wheel setuptools
          pip install -r requirements-dev.txt
          source scripts/linting_check.sh

  code_coverage:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Download coverage artifact
        uses: actions/download-artifact@v2
        with:
          name: coverage_artifact
      - name: Check coverage
        run: |
          pip install monty==4.0.2
          python scripts/coverage.py


  benchmark_submission:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2
    - name: Set up python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Run submission check
      run: |
        pip install --upgrade pip
        pip install wheel setuptools
        pip install -e . -r requirements.txt
        pip install -r requirements-dev.txt
        python -m unittest scripts/test_submission.py